body {
    margin: 0px;
    padding: 0px;
}

main .banner-text {
    width: 650px;
    height: 250px;
    margin: auto;
    text-align: center;
}

main .banner-text h3 {
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #282828;
    padding-top: 20px;
}

main .banner-text h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #282828;
    margin-top: 10px;
    margin-bottom: 15px;
}

main .banner-text p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #5F6980;
    line-height: 30px;
}

.card-area {
    width: 96%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-area .post-card {
    width: 330px;
    border: 1px solid #b5bccb;
    margin: 10px;
}

.card-area .post-card .img-area img {
    width: 330px;
    height: 280px;
}

.post-card .text-area {
    width: 320px;
    margin: auto;
}

.post-card .text-area h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #282828;
    margin-bottom: 7px;
}

.post-card .text-area h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    color: #282828;
}

.post-card .text-area p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #5F6980;
    margin-top: 10px;
}

.post-card .icon-area {
    width: 320px;
    margin: auto;

}

.post-card .icon-area .icons {
    display: flex;
    padding: 0px;
}

.post-card .icon-area ul li {
    list-style-type: none;
    text-decoration: none;
    margin: 15px;
}

.post-card .icon-area ul li a {
    font-size: 15px;
    color: #282828;
}

footer {
    background-color: #C6C6C6;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}

footer .one {
    width: 300px;
}

footer .one img {
    width: 120px;
    height: 120px;
}

footer .one p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #5F6980;
}

footer .one .footer-icons {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0px;
    margin-bottom: 70px;
}

footer .one .footer-icons li {
    margin-right: 15px;
}
footer .one .footer-icons li a {
    color: #282828;
}

footer .two {
    width: 300px;
}

footer .two h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #282828;
    margin-bottom: 7px;
    padding: 0px 0px 0px 40px;
}

footer .two .asidetwo {
    list-style-type: none;
    line-height: 35px;
}

footer .two .asidetwo li {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #5F6980;
}

footer .three {
    width: 300px;
}

footer .three .asidethree {
    list-style-type: none;
    line-height: 35px;
}

footer .three .asidethree li {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #5F6980;
}

footer .three h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #282828;
    margin-bottom: 7px;
    padding: 0px 0px 0px 40px;
}

footer .four {
    width: 300px;
}

footer .four h1 {
    margin-top: 14.94px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #282828;
    padding: 0px 0px 0px 90px;
}

footer .four button {
    width: 77px;
    height: 47px;
    background-color: #054A68;
    border: none;
    margin: 50px 0px 0px 90px;
    color: white;
}

